<div class="col-xs-12 entry-form">
  <h2 class="bday-style form-text-title">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :"Email :", class:"form-text-label" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control form-text-input" %>
  </div>

  <div class="field form-group">
    <%= f.label :"Contraseña :", class:"form-text-label" %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control form-text-input" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field checkbox">
      <label class="form-text-label">
        <%= f.check_box :remember_me%>Remember me
      </label>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Sign in", class:"btn btn-success" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
