<div class="col-xs-12 entry-form">
  <h2 class="bday-style form-text-title">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field form-group">
    <%= f.label :"Email :", class:"form-text-label" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control form-text-input" %>
  </div>

  <div class="field form-group">
    <%= f.label :"Contraseña :", class:"form-text-label" %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control form-text-input" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field checkbox no-bot-margin">
      <label class="form-text-label">
        <%= f.check_box :remember_me%>Remember me
      </label>
    </div>
  <% end -%>

  <%= render "users/shared/links" %>

<div class="row max-width no-margin">
  <div class="col-xs-4 left">
    <div class="actions left">
      <%= f.submit "Sign in", class:"btn btn-success left" %>
    </div>
  </div>
  <div class="col-xs-8 no-padding">
      <p class="right sign-margin-left sign-text">Don't have an account yet?<br>
      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class:"right sign-text" %>
      <% end -%>
      </p>
  </div>
  <div class="col-xs-12 no-padding right">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name), class:"right sign-text" %>
  <% end -%>
  </div>
</div>
<% end %>

</div>