<div class="modal fade" id="edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-box">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title bday-style form-text-title">
        Editar
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
      <%= form_for(@relationship, url: relationships_path(), html: { method: :put, class:"edit-form" }) do |rel| %>

        
          <div class="col-xs-3">
            <%=image_tag("", class:"img-circle img-responsive avatar-img edit-img") %>
          </div>
           
          <div class="col-xs-9 no-padding-left left">
            <h4 class:"max-width">
              <%=rel.text_field :nickname, class:"edit-nickname"%>
            </h4>
          </div>
      
          <section class="row">

            <div class="col-xs-12 left margin-top">
              <span class="info-label"><%= rel.label :"Email :" %></span>
              <span class="info-field"><%= rel.text_field :email, autofocus: true, class:"edit-email"%></span>
            </div>
            <div class="col-xs-12 left">
              <span class="info-label"><%= rel.label :"Bday :" %></span>
              <span class="info-field"><%= rel.date_select :send_date, discard_year: true, autofocus: true, class:"edit-bday" %></span>
            </div>

            <%= rel.fields_for :messages, @message do |f| %>

              <div class="col-xs-12 left">
                <h6 class="no-margin"> 
                  <%= f.check_box :send_email, value: f.object.send_email, class: "checkbox_inline edit-mail"%>
                  Email
                  
                  
                  <%= f.check_box :send_fb, class: "checkbox_inline edit-fb"%>
                    Facebook
                  
                  <%= f.check_box :send_tw, class: "checkbox_inline edit-tw"%>
                    Twitter    
                  
                  <%= f.check_box :send_gg, class: "checkbox_inline edit-gg"%>
                    Google    
                </h6>
              </div>
              <div class="col-xs-12 left margin-top">
                <span class="info-label"><%= f.label :"Mensaje :" %></span><br>
                <%= f.text_area :message, class: "form-control edit-message", rows:"3",  autofocus: true %>
              </div>
              
              <div class="col-xs-offset-2 col-xs-4">
                <div class="right">
                  <%= rel.check_box :send_message, class: "checkbox_inline edit-send"%>
                  <span class="info-label">Enviar</span>
                </div>
              </div>

            <% end %>
          
      </div><!-- .modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <% end %>
      </div>
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->