<h2 class="bday-style form-text-title">Historial de mensajes</h2>

<%= form_for(resource, as: resource_name, url: user_index_path(resource_name), html: { method: :get }) do |user| %>

  <%= user.fields_for :relationships do |rel| %>
  	<%= rel.fields_for :messages do |message| %>
		<% if message.object.message_sent %>

  	<!-- Here are the parameters for the accordion -->
		  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%="#m#{message.object.id}"%> aria-expanded="false" aria-controls="collapseOne">
		          <%= message.object.updated_at %>: <%=rel.object.nickname %>
		        </a>
		      </h4>
		    </div>
		    <div id=<%="m#{message.object.id}"%> class="panel-collapse collapse accordion-margins" role="tabpanel" aria-labelledby="headingTwo">
    
    <!-- Here begins the form -->
    		<section class="row">
   
	        <div class="col-xs-12 left margin-top">
	          <span class="info-label"><%= message.label :"Mensaje :" %></span><br>
	          <span class="info-field"><%= message.object.message%></span>
	        </div>
	        
	        <div class="col-xs-6 no-margin">
	        <%= content_tag "div", class:"btn btn-primary edit_modal", type:"button", 'data-target': "#edit_modal", 'data-toggle': "modal", data: {} do %> Editar <% end %> 
	        </div>

        
      		</section>
   
	    	<%= link_to button_tag('Enviar ahora', class: 'btn btn-primary'), relationship_message_now_path(relationship_id: rel.object.id, message_id: message.object.id), method: :put%>

	      	<%= link_to button_tag('Eliminar contacto', class: 'btn btn-danger'), relationships_path(relationship_id: rel.object.id), method: :delete%> 

      	<% end %>
    <% end %>  
    <!-- Here is closed the accordion -->
        </div>
      </div>
    </div>
    <!-- Up to here -->
    
         
    <% end %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">Añadir contacto</button>

  <% end %>