<div class="col-xs-12 max-width social-access">
	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
	<% end -%>

	
	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
			<%  case provider
					when :facebook %>
					<div class="col-xs-offset-1 col-xs-3 max-height">
						<%=link_to omniauth_authorize_path(resource_name, provider) do %> 
							<div class="log-icon", id="facebook-f"></div>
						<% end %>
					</div>
				 
				 <% when :twitter %>
				 	<div class="col-xs-3 max-height">
				 		<%=link_to omniauth_authorize_path(resource_name, provider) do %> 
							<div class="log-icon", id="twitter-bird"></div>
						<% end %>
					</div>
					
				 <% when :google_oauth2 %>
					 <div class="col-xs-3 max-height">
					 	<%=link_to omniauth_authorize_path(resource_name, provider) do %> 
							<div class="log-icon", id="google-g"></div>
						<% end %>
					</div>
					
	    	<% end %>
	  	<% end %>
	<% end %>
</div>
