<h2 class="bday-style form-text-title">Contactos</h2>

<%  
  fb_status = @user_active_networks[:facebook]
  tw_status = @user_active_networks[:twitter]
  gg_status = @user_active_networks[:google_oauth2]
%>

<%= form_for(resource, as: resource_name, url: user_index_path(resource_name), html: { method: :get }) do |user| %>

  <%= user.fields_for :relationships do |rel| %>

  <!-- Here are the parameters -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title form-text-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href=<%="#r#{rel.object.id}"%> aria-expanded="false" aria-controls="collapseOne">
          <%= rel.object.nickname %>
        </a>
      </h4>
    </div>
    <div id=<%="r#{rel.object.id}"%> class="panel-collapse collapse accordion-margins" role="tabpanel" aria-labelledby="headingOne">
    
    <!-- Here begins the form -->
    <section class="row">

      <div class="col-xs-3">
        <% if rel.object.picture.present?
              img_url = rel.object.picture
            else
              img_url = "/images/avatar.svg"
            end %>

        <%=image_tag("#{img_url}", class:"img-circle img-responsive avatar-img") %>
           
      </div>
      <div class="col-xs-9 no-padding-left left">
        <h4 class:"max-width"><%=rel.object.nickname%></h4>
      </div>
    </section>
    
    <section class="row">

      <div class="col-xs-12 left margin-top">
          <span class="info-label"><%= rel.label :"Email :" %></span>
          <span class="info-field"><%= rel.object.email%></span>
      </div>
      <div class="col-xs-12 left">
        <span class="info-label"><%= rel.label :"Bday :" %></span>
        <span class="info-field">
          <% if rel.object.send_date.present? %>
            <%= rel.object.send_date.day %> de <%= @months[rel.object.send_date.month]%>
          <% end %>
        </span>
      </div>

    <%= rel.fields_for :messages do |f| %>
      
      <% if not f.object.message_sent %>
      <div class="col-xs-12 left">
      <h6 class="no-margin"> 
        <% if f.object.send_email %>
          <span class="glyphicon glyphicon-ok" id="correct-glyphicon"></span>
        <% else %>
          <span class="glyphicon glyphicon-remove" id = "wrong-glyphicon"></span>
        <% end %>
        Email


        <% if f.object.send_fb %>
          <div class="glyphicon glyphicon-ok" id="correct-glyphicon"></div>
          Facebook
        <% else %>
          <div class="glyphicon glyphicon-remove" id = "wrong-glyphicon"></div>
          Facebook
        <% end %>


        <% if f.object.send_tw %>
          <div class="glyphicon glyphicon-ok" id="correct-glyphicon"></div>
          Twitter    
        <% else %>
          <div class="glyphicon glyphicon-remove" id = "wrong-glyphicon"></div>
          Twitter
        <% end %>


        <% if f.object.send_gg %>
          <div class="glyphicon glyphicon-ok" id="correct-glyphicon"></div>
          Google    
        <% else %>
          <div class="glyphicon glyphicon-remove" id = "wrong-glyphicon"></div>
          Google
        <% end %>
      </h6>
      </div>
        <div class="col-xs-12 left margin-top">
          <span class="info-label"><%= f.label :"Mensaje :" %></span><br>
          <span class="info-field"><%= f.object.message%></span>
        </div>
        
        <div class="col-xs-6 no-margin">
        <%= content_tag "div", class:"btn btn-primary edit_modal", type:"button", 'data-target': "#edit_modal", 'data-toggle': "modal", data: {relationship: rel.object.attributes, message: f.object.attributes, fbstatus: fb_status, twstatus: tw_status, ggstatus: gg_status } do %> Editar <% end %> 
        </div>

        <div class="col-xs-offset-2 col-xs-4">
           <div class="right">
           <% if rel.object.send_message %>
              <div class="glyphicon glyphicon-ok" id="correct-glyphicon"></div>
           <% else %>
              <div class="glyphicon glyphicon-remove" id = "wrong-glyphicon"></div>
           <% end %>
              <span class="info-label">Enviar</span>
           </div>
        </div>
      </section>
    <br>
      <%= link_to button_tag('Enviar ahora', class: 'btn btn-primary'), relationship_message_now_path(relationship_id: rel.object.id, message_id: f.object.id), method: :put%>

      <%= link_to button_tag('Eliminar contacto', class: 'btn btn-danger'), relationships_path(relationship_id: rel.object.id), method: :delete%> 

      <% end %>
    <% end %>  
    <!-- Here is closed the accordion -->
        </div>
      </div>
    </div>
    <!-- Up to here -->
    </section>
    <% end %>
    <div class="row max-space" >
      <div class="col-xs-9 max-height">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_modal">Añadir contacto</button>
      </div>
      <div class="col-xs-9 max-height">
        <%=link_to user_messages_path(user_id: user.object.id), method: :put do %> 
              <button type="button" class="btn btn-primary">Enviar a todos</button>
          <% end %>
      </div>      
      <% if tw_status %>
        <div class="col-xs-3 max-height">
            <%=link_to twitter_friends_path(user_id: user.object.id), method: :put do %> 
              <div class="friends-icon", id="twitter-bird"></div>
            <% end %>
          </div>
      <% end %>    
    </div>

  <% end %>
<%=render partial: "users/shared/new_relationship", locals: {user_active_networks: @user_active_networks} %>

<%=render partial: "users/shared/edit_relationship", locals: {user_active_networks: @user_active_networks} %>
