<h2 class="bday-style form-text-title">Perfil</h2>

<%= form_for(resource, as: resource_name, url: edit_user_path(resource_name), html: { method: :put }) do |f| %>

<section>
  <span class="info-label"><%= f.label :"Nombre" %></span> 
  <span class="info-field"><%= resource.name%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Apellidos" %></span> 
  <span class="info-field"><%= resource.surname%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Email" %></span> 
  <span class="info-field"><%= resource.email%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Cumpleaños" %></span> 
  <span class="info-field"><%= resource.bday%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Ciudad" %></span> 
  <span class="info-field"><%= resource.city%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"País" %></span> 
  <span class="info-field"><%= resource.country%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Idioma" %></span> 
  <span class="info-field"><%= resource.language%></span>
</section>

<section>
  <span class="info-label"><%= f.label :"Género" %></span>
  <span type="text" class="form-control">
    <%= case (resource.gender)
      when "m"
        "Hombre"
      when "f"
        "Mujer"
      when "u"
        "Indefinido"
      end %></span>
</section>

<% end %>
<%= link_to image_tag("FB.svg", size: "50",class: "social_login"), user_omniauth_authorize_path(:facebook), size: "10px" %>
<%= link_to image_tag("TW.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:twitter), size: "10px" %>
<%= link_to image_tag("GG.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:google_oauth2), size: "10px" %>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<%= content_tag "div", class:"btn btn-primary edit_profile", type:"button", data: {} do %> Editar <% end %>

