<%  
  fb_status = user_active_networks[:facebook]
  tw_status = user_active_networks[:twitter]
  gg_status = user_active_networks[:google_oauth2]
%>

<%= form_for(resource, as: resource_name, url: relationships_path(resource_name), html: { method: :put }) do |user| %>

  <%= user.fields_for :relationships do |rel| %>
    <section>
      <h4><%=rel.object.nickname%></h4>
    </section>
    
    <section>
        <%= rel.label :Email %><br>
        <%= rel.text_field :email, autofocus: true %>
    </section>
    
    <section>
      <%= rel.fields_for :messages do |f| %>
      <% if not f.object.message_sent %> 

        <% if rel.object.email.present? %>
          <%= f.check_box :send_email, class: "checkbox_inline"%>
          Email
        <% else %>
          <%= f.check_box :send_email, class: "checkbox_inline", disabled: true%>
          Email
        <% end %>


        <% if fb_status and rel.object.fb_connected %>
          <%= f.check_box :send_fb, class: "checkbox_inline"%>
          Facebook
        <% else %>
          <%= f.check_box :send_fb, class: "checkbox_inline", disabled: true%>
          Facebook
        <% end %>


        <% if tw_status and rel.object.tw_connected %>
          <%= f.check_box :send_tw, class: "checkbox_inline"%>
          Twitter    
        <% else %>
          <%= f.check_box :send_tw, class: "checkbox_inline", disabled: true%>
          Twitter
        <% end %>


        <% if gg_status and rel.object.gg_connected %>
          <%= f.check_box :send_gg, class: "checkbox_inline"%>
          Google    
        <% else %>
          <%= f.check_box :send_gg, class: "checkbox_inline", disabled: true%>
          Google
        <% end %>

        <div>
          <%= f.label :"Mensaje:" %><br>
          <%= f.text_area :message, class: "form-control", rows:"3",  autofocus: true %>
        </div>
      <% end %>
    <% end %>  

        <div class="actions">
            <%= rel.submit "Guardar" %>
        </div>
      
    <% end %>
    <div class="actions">
      <%= user.submit "Guardar todo" %>
    </div>
  <% end %>



