<h2>Profile</h2>

<section>
  <h4>Nombre:</h4>
  <span type="text" class="form-control"><%= resource.name %></span>
</section>

<section>
  <h4>Apellidos:</h4>
  <span type="text" class="form-control"><%= resource.surname %></span>
</section>

<section>
  <h4>Email:</h4>
  <span type="email" class="form-control"><%= resource.email %></span>
</section>

<section>
  <h4>Cumpleaños:</h4>
  <span type="date" class="form-control"><%= resource.bday %></span>
</section>

<section>
  <h4>Ciudad:</h4>
  <span type="text" class="form-control"><%= resource.city %></span>
</section>

<section>
  <h4>País:</h4>
  <span type="text" class="form-control"><%= resource.country %></span>
</section>

<section>
  <h4>Idioma:</h4>
  <span type="text" class="form-control"><%= resource.language %></span>
</section>

<section>
  <h4>Género:</h4>
  <span type="text" class="form-control">
    <%= case (resource.gender)
      when "m"
        "Hombre"
      when "f"
        "Mujer"
      when "u"
        "Indefinido"
      end %></span>
</section>

<%= link_to image_tag("FB.svg", size: "50",class: "social_login"), user_omniauth_authorize_path(:facebook), size: "10px" %>
<%= link_to image_tag("TW.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:twitter), size: "10px" %>
<%= link_to image_tag("GG.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:google_oauth2), size: "10px" %>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<%= button_to 'Editar', edit_user_path, :action => 'get', :method => 'get', class: 'btn btn-default btn-sm tpnt_button pull-left'%>
