<div class="col-xs-12 entry-form">
  <h2 class="bday-style form-text-title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :"email :", class:"form-text-label" %><br>
    <%= f.email_field :email, autofocus:true, class:"form-control form-text-input", placeholder: "mymail@mail.com"%>
  </div>

  <div class="field form-group">
    <%= f.label :"Contraseña :", class:"form-text-label" %>
    <% if @minimum_password_length %>
    <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control form-text", autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :"Repetir contraseña :", class:"form-text-label" %><br />
    <%= f.password_field :password_confirmation,class:"form-control form-text", autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :"Cumpleaños :", class:"form-text-label" %><br />
    <%= f.date_field :bday,class:"form-control form-text-input", autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary form-submit-btn" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>


