<h2>Profile <%= resource_name.to_s.humanize %></h2>

<section>
  <h4>Nombre:</h4>
  <span type="text" class="form-control"><%= current_user.name %></span>
</section>

<section>
  <h4>Apellidos:</h4>
  <span type="text" class="form-control"><%= current_user.surname %></span>
</section>

<section>
  <h4>Email:</h4>
  <span type="email" class="form-control"><%= current_user.email %></span>
</section>

<section>
  <h4>Cumpleaños:</h4>
  <span type="date" class="form-control"><%= current_user.bday %></span>
</section>

<section>
  <h4>Ciudad:</h4>
  <span type="text" class="form-control"><%= current_user.city %></span>
</section>

<section>
  <h4>País:</h4>
  <span type="text" class="form-control"><%= current_user.country %></span>
</section>

<section>
  <h4>Idioma:</h4>
  <span type="text" class="form-control"><%= current_user.language %></span>
</section>

<section>
  <h4>Género:</h4>
  <span type="text" class="form-control">
    <%= case current_user.gender
      when "m"
        return "Hombre"
      when "f"
        return "Mujer"
      when "u"
        return "Indefinido"
      end%></span>
</section>

<%= link_to image_tag("FB.svg", size: "50",class: "social_login"), user_omniauth_authorize_path(:facebook), size: "10px" %>
<%= link_to image_tag("TW.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:facebook), size: "10px" %>
<%= link_to image_tag("GG.svg", size: "50", class: "social_login"), user_omniauth_authorize_path(:facebook), size: "10px" %>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>

<%= button_to 'Editar', edit_user_registration_path, :action => 'get', :method => 'get', class: 'btn btn-default btn-sm tpnt_button pull-left'%>

<%= button_to "Back", :back,class: 'btn btn-default btn-sm tpnt_button pull-left'%>
